<% content_for :page_stylesheet do %>
  <%= stylesheet_link_tag "home" %>
<% end %>
<% content_for :page_stylesheet do %>
  <%= stylesheet_link_tag "projects" %>
<% end %>
<% content_for :title, "Home - Zach Crutcher" %>
<section class="intro">
<div>
<div class="pill-badge">
    Developer &middot Builder &middot Versatile
</div>
<h1>Howdy, I'm Zach</h1>
<p>
a former Database Admin/Developer who got lost and ended up as the Web Development Manager for an e-commerce company. In my free time I enjoy learning different languages and frameworks. Next on my list - Ruby on Rails.
</p>
<p>
Over the past couple of years I solo-built and recently launched <%= link_to "Mobile Eats", "https://mobileeats.food", class: "underline", target: "_blank" %>. This was a passion project that allowed me to build a multi-tenant web app to generate websites based on customers’ food truck data. This allowed me to deep dive into Elixir and the Phoenix framework. Programming in a functional style was a big learning shift, but has been something I’ve carried into daily work.

</p>
<blockquote>
    Want to know more about me? Read more <%= link_to "here", about_path(), class: "underline" %>. Here for business? My resume is <%= link_to "here", "https://docs.google.com/document/d/e/2PACX-1vRl6WOPkulvHEy3HbYxQtI7zHW55fFaY24swjbizIpo-AFdAjQ1-GKm4Avua00G-wYrEGyOovYpmA7Q/pub", class: "underline", target: "_blank" %>.
</blockquote>
<div class="cta-home">
<%= link_to projects_path(), class: "projects-btn" do %>
  <%= tag.button "View My Projects" %>
<% end %>

<%= link_to "https://docs.google.com/document/d/e/2PACX-1vRl6WOPkulvHEy3HbYxQtI7zHW55fFaY24swjbizIpo-AFdAjQ1-GKm4Avua00G-wYrEGyOovYpmA7Q/pub", target: "_blank", class: "resume-btn" do %>
  <%= tag.button "View Resume" %>
<% end %>
</div>
</div>

<%= image_tag "home/portfolio-zach.png", alt: "Company Logo", class: "profile-pic block", style: "background-color: var(--base-300);" %>

</section>
