<% content_for :page_stylesheet do %>
  <%= stylesheet_link_tag "home" %>
<% end %>
<% content_for :page_stylesheet do %>
  <%= stylesheet_link_tag "projects" %>
<% end %>
<section class="intro">
<div>
<div class="pill-badge">
    Developer &middot Builder &middot Versatile
</div>
<h1>Howdy, I'm Zach</h1>
<p>
a former Database Admin/Developer who got lost and ended up as a Web Development Manager for an e commerce company who has won the Bizrate Circle of Excellence award 18 times.
</p>
<p>
I recently (solo) launched a SaaS for Food Trucks called Mobile Eats (link). This was a passion project that has allowed me to build a multi tenant web app to generate websites based on my customers truck data. It also allowed me to scratch my functional programming itch by diving headfirst into Elixir and Phoenix Framework.
</p>
<blockquote>
If you want to learn more about me, check out my /about page. If you are here on business, you can find my resume _here_ and articles about my development experiences <here>
</blockquote>
<div class="cta-home">
<%= link_to projects_path(), class: "projects-btn" do %>
  <%= tag.button "View My Projects" %>
<% end %>

<%= link_to "https://docs.google.com/document/d/e/2PACX-1vRl6WOPkulvHEy3HbYxQtI7zHW55fFaY24swjbizIpo-AFdAjQ1-GKm4Avua00G-wYrEGyOovYpmA7Q/pub", target: "_blank", class: "resume-btn" do %>
  <%= tag.button "View Resume" %>
<% end %>
</div>
</div>

<%= image_tag "home/portfolio-zach.png", alt: "Company Logo", class: "profile-pic block" %>

</section>
